﻿<!--<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
 
    html, body { height: 100%; }

    /*.ui.action.input input[type="file"] {
      display: none;
    }*/

    
</style>
 -->
<div class="ui two column doubling stackable grid container">
 
  <div class="column">

      <h3>Select files</h3>

      <div ng2FileDrop
            [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
            class="ui segment my-drop-zone">
          Base drop zone
      </div>

      <div ng2FileDrop
            [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
            (fileOver)="fileOverAnother($event)"
            [uploader]="uploader"
            class="ui segment my-drop-zone">
          Another drop zone
      </div>

      Multiple
      <div class="ui action input">
        <input id="input-multiple-file" class="inputfile inputfile-2" type="file" placeholder="Search..." ng2FileSelect [uploader]="uploader" multiple>
        <label for="input-multiple-file">multiple</label>
        <!--<div class="ui icon button">
          <i class="attach icon"></i>
        </div>-->
      </div>
      <!--<input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>-->

      Single
      <input class="ui button" type="file" ng2FileSelect [uploader]="uploader" />
      <!--<input type="file" ng2FileSelect [uploader]="uploader" />-->
  </div>

  <div class="column" style="margin-bottom: 40px">

      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>

      <table class="table">
          <thead>
          <tr>
              <th width="50%">Name</th>
              <th>Size</th>
              <th>Progress</th>
              <th>Status</th>
              <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <td *ngIf="uploader.isHTML5">

              <div class="ui indicating progress">
                <div class="bar"></div>
                <div class="label">Funding</div>
              </div>

                  <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
              </td>
              <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
              </td>
              <td nowrap>
                  <button type="button" class="ui blue basic button"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload
                  </button>
                  <button type="button" class="ui orange basic button"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                  </button>
                  <button type="button" class="ui red basic button"
                          (click)="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
              </td>
          </tr>
          </tbody>
      </table>

      <div>
          <div>
              Queue progress:

              <div class="ui indicating progress" data-value="0">
                <div class="bar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                <!--<div class="label">Funding</div>-->
              </div>
          </div>
          <button type="button" class="ui blue basic button"
                  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Upload all
          </button>
          <button type="button" class="ui orange basic button"
                  (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
          </button>
          <button type="button" class="ui red basic button"
                  (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
      </div>

  </div>

 
</div>
