﻿<div *ngIf="potet">
    <form class="ui form" name="PotetForm">
    <div class="field">
        <label>Name</label>
        <input name="name" type="text" [(ngModel)]="potet.name"/>
        <simple-demo></simple-demo>
    </div>
    </form>
</div>
